.navbar .profile{
    border-radius: 500px;
    height: 80px;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;

}
.navbar .log{
    width:max(10%,80px)

}
